# Criar um .env.local com novos valores para substituir

# true para ignorar o link da url e mostrar dados mockados
EXPO_PUBLIC_API_MOCK=true

# link base para a api, usar o ip local e estar na mesma rede wifi do celular que esta rodando o app
EXPO_PUBLIC_API_URL='http://192.168.1.128:8080'

# Bearer Token, apenas o token sem o Bearer
EXPO_PUBLIC_API_TOKEN='eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJBUEkgRW1wcmVzYSBEZXNhZmlvIiwic3ViIjoiZGlvY2VzZXNhbnRvcyIsImlhdCI6MTY5OTIzMjQyMywiZXhwIjoxNzAxMDU5ODEwfQ.dSM04FHQGFIKaN8TDh_Zy9TBtnK-BRAvb_ry5toV2u4'

EXPO_PUBLIC_LATITUDE='-23.938525' # latitude da unisantos
EXPO_PUBLIC_LONGITUDE='-46.418176' # longitude da unisantos